version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: movie-backend
    ports:
      - "3001:3001"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: movie-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
